* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

.container {
    margin: auto;
    height: 100%;
    width: 60%;
    background-color: rgb(107, 54, 114);
    padding-top: 5em;
}

.calculator {
    width: 80%;
    height: 90%;
    margin: auto;
    background-image: url(https://djordjijem.github.io/Web-components/calculator/images/sky.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*SCREEN*/
.screen {
    width: 100%;
    height: 35%;
    position: relative;
}
#count {
    position: absolute;
    right: 10%;
    top: 15%;
    color: #b4f8b4;
    font-size: 1.6em;
}

#result {
    position: absolute;
    right: 20%;
    bottom: 15%;
    font-size: 3em;
    color: #b4f8b4;
}


/*buttons*/
.buttons {
    width: 100%;
    height: 65%;
    background-color: #292d36;
}
/* FIRST LINE */
.first-line {
    width: 100%;
    height: 20%;
    position: relative;
    border-bottom: 3px solid rgb(26, 25, 25);
}
.btn {
    position: absolute;
    text-align: center;
    font-size: 2.3em;
    padding: 0.7em;
}
.special {
    position: absolute;
    text-align: center;
    font-size: 2.3em;
    padding: 0.7em;
}
.first-btn {
    height: 100%;
    width: 14%;
}
.C {
    left: 0;
    top: 0;
    border-right: 3px solid rgb(26, 25, 25);
}
.CE {
    left: 14%;   
    top: 0;
    border-right: 3px solid rgb(26, 25, 25);
    font-size: 1.5em;
    padding-top: 33px;
}
.division {
    left: 28%;   
    top: 0;
    font-weight: 800;
    border-right: 3px solid rgb(26, 25, 25);
}
.multi {
    left: 42%;   
    top: 0;
    border-right: 3px solid rgb(26, 25, 25);
}
.open-br {
    right: 28%;   
    top: 0;
    border-right: 3px solid rgb(26, 25, 25);
}
.close-br {
    right: 12%;   
    top: 0;
    border-right: 3px solid rgb(26, 25, 25); 
}
.del {
    right: 0;   
    top: 0;
}
span {
    color: #82f382;
}
span:hover {
    cursor: pointer;
    color: #b4f8b4;
}
/* FIRST LINE */

/*second line(all other lines + equals)  */
.second-line {
    width: 100%;
    height: 20%;
    position: relative;
}
.second-btn {
    position: absolute;
}
.seven {
  width: 26.66%;
  height: 100%;
  left: 0;
  top: 0;
  border-bottom: 3px solid rgb(26, 25, 25);
  border-right: 3px solid rgb(26, 25, 25);
}
.eight {
    left: 26.66%;
    top: 0;
    width: 26.66%;
    height: 100%;
    border-bottom: 3px solid rgb(26, 25, 25);
    border-right: 3px solid rgb(26, 25, 25); 
  }
 .nine {
     right: 20%;
     top: 0;
     width: 26.66%;
     height: 100%;
     border-bottom: 3px solid rgb(26, 25, 25);
     border-right: 3px solid rgb(26, 25, 25);
 } 
 .subtraction {
     right: 0;
     top: 0;
     width: 20%;
     height: 100%;
     border-bottom: 3px solid rgb(26, 25, 25);
 }
 .equals {
    position: absolute;
    text-align: center;
    font-size: 2.3em;
    padding: 0.7em;
     right: 0;
     height: 200%;
     width: 20%;
     border-bottom: 3px solid rgb(26, 25, 25);
     padding-top: 3.8rem;
     background: #135729;
     background: -webkit-linear-gradient(0deg ,#135729, #82F382);
     background: -moz-linear-gradient(0deg ,#135729, #82F382);
     background: -o-linear-gradient(0deg ,#135729, #82F382);
     background: linear-gradient(0deg ,#135729, #82F382);
 }
 
 
 /*second line*/

