.modal {
    width: 150%;
    height: 800px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 33;
    display: none;
    &__span {
        position: absolute;
        right: 260px;
        font-size: 3.6em;
        font-weight: 600;
        &:hover {
            font-size: 3.8em;
        }
    }
    &__paragraph {
        position: absolute;
        top: 30%;
        left: 40%;
        font-size: 3em;
        color: #B55894;
    }
}

@media(max-width: 1300px) {
    .modal {
        &__span {
            position: absolute;
            right: 100px;
        }
    }
}
@media(min-width: 750px){
    .modal {
        margin-left: -400px;
    }
    
}
@media(max-width: 750px){
    .modal {
       &__span {
            position: absolute;
            left: 100px;
        }
        &__paragraph {
            position: absolute;
            left: 10%;
            font-size: 2em;
        }
    }
    
}