
.header {
    border-bottom: 7px solid $theme-color-light;
    display: flex;
    height: auto;
    padding-bottom: 0;
    position: relative;
    justify-content: space-between;
    width: $max-width;
    &--color {
        background-color: $theme-color;
    }
    &__tabs {
        display: flex;
        width: $half-width;
    }
    &__tabsItem {
        display: flex;
        flex: 1;
        justify-content: center;
        padding: 22px;
        font-size: 1.4em;
        margin-top: 7px;
          &:hover {
              background-color: $theme-color-light;
              cursor: pointer;
          }
    }
    &__tabsAnchor {
        text-decoration: none;
        color: $gray-color;
    }
    &__form {
        margin-top: 5px;
    }
    &__searchElItem { 
        margin-right: 30px;
        list-style: none;
    }
    &__searchElDiv {
        height: 1.4em;
    }
    &__searchElDiv p{
        color: $white-color;
        font-size: 1.4em;
    }
    &__searchElInput {
        border: none;
        border-bottom: 1px solid $gray-color;
        color: $white-color;
        outline: none;
        padding: 2px;
        opacity: 0.9;
        font-size: 1.1em;
        font-weight: 600;
        float: none;
    }
    &__searchElIcon {
        padding: 5px;
        color: $white-color;
        border: 1px solid $gray-color; 
        border-radius: 4px;
        margin-left: 5px;
        cursor: pointer;
        font-size: 1.4em;
    }
    &__logo {
        width: 8%;
        transition: 0.8s;
        z-index: 999;
    }
    &__logoItem {
        margin-left: 20px;
        padding: 5px;
        width: 80px;
        list-style: none;
    }
    &__logoImage {
        width: 170%;
        height: 65px;
    }
    &__hamburger {
        list-style: none;
        font-size: 1.9em;
        padding: 20px;
        cursor: pointer;
        color: rgb(238, 230, 230);
        flex: 1;
        margin-left: 40px;
        align-self: center;
     }
}

@media(max-width: 600px){
    .header { 
        border-bottom: 0;
        padding-top: 0;
        height: 75px;
       position: static;
       &__tabs {
            display: none;
            }
            &__searchEl {
            display: none;
        }
        &__logo {
            width: 100px;
            margin-left: -140px;
        }
        &__logoItem {
            width: 60px;
            height: auto;
        }
    }
   
}
@media (max-width: 360px){
    .header {
        &__logoItem {
            width: 45px;
            height: auto;
        }
    }
   
}
@media(min-width: 601px){
    .header {
        &__logo {
            margin-left: 0;
        }
    }
    
}
@media (min-width: 601px) and (max-width: 1024px){
    .header {
        &__tabsItem {
            font-size: 1.2em;
        }
        &__logoItem {
            width: 65px;
            height: auto;
        }
        &__searchElItem {
            margin-right: -85px;
        }
        &__searchElInput {
            outline: none;
            padding: 2px;
            font-size: 1em;
            width: 45%;
        }
        &__searchElIcon {
            padding: 3px;
            margin-left: 3px;
            cursor: pointer;
            font-size: 1.2em;
        }
    }
}
@media (min-width: 601px) and (max-width: 660px){
    .header {
        &__searchEl {
            margin-right: -70px;
        }
        &__searchElInput {
            width: 25%;
        }
    }
    
}
@media (min-width: 1024px) and (max-width: 1124px){
    .header {
        &__tabs {
            margin-left: 50px;
        }
        &__tabsItem {
            font-size: 1.3em;
        }
    }
   
}
@media(min-width: 601px){
    .dropMenu, .header__hamburger {
        display: none;
    }
    .header__logo {
        margin-left: 0;
    }
}