.main {
    width: 60%;
    margin: auto;
    text-align: center;
    position: relative;
}
@media(min-width: 1024px) and (max-width: 1494px){
    .main {
        width: 70%;
    }
}
@media(min-width: 751px) and (max-width: 1024px){
    .main {
        width: 80%;
    }
}
@media(max-width: 750px){
    .main {
        width: $max-width;
    }
}