* {
    box-sizing: border-box;
}
.container {
    max-width: 90%;
    padding: 0;
    margin: 0 auto;
}
.product {
    width: 40%;   
}
.product img {
    margin-top: 100px;
}
.description {
    float: right;
    width: 30%;
    margin-top: -500px;
    margin-right: 400px;
}
.description > h2 {
    border-bottom: 1px solid rgb(20, 20, 20);
}
.description > p  a {
    text-decoration: none;
}
.description > p span {
    font-size: 1.7em;
    color: rgb(170, 84, 170);
}
.description > ul li {
    line-height: 25px;
}
.description > a {
    text-decoration: none;
}
.description > .submit-to-basket input[type="submit"] {
margin-top: 15px;
padding: 10px;
color: rgb(255, 255, 255);
background-color: rgb(170, 84, 170);
cursor: pointer;
}
.description > .submit-to-basket input[type="submit"]:focus {
    outline: 0;
}