* {
    box-sizing: border-box;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.main {
    width: 100%;
    height: 300px;
    border-top: 1px solid rgb(17, 16, 16);
}
.heading {
    height: 80px;
    position: relative;
}
.heading > .price span{
    color: rgb(224, 77, 77);
    font-size: 1.3em;
}
.heading select {
    position: absolute;
    top: 41px;
    left: 70px;
} /*heading*/
.product {
    width: 100%;
    clear: both;
}
.product > img {
    width: 14%;
    margin: 10px 10px;
    float: left;
    
}
.product > .info {
width: 30%;
float: left;
}
.product > .info h3 {
    margin-left: 40px;
}
.product > .info ul li {
    list-style: none;
    line-height: 30px;
}
.product > .info ul li:first-child {
    color: rgb(40, 110, 83);
}
input[type="submit"] {
    margin: 20px 0 20px;
    padding: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(170, 84, 170);
}
input[type="submit"]:focus {
    outline: 0;
}
input[id="keep-shopping"]{
    color: rgb(170, 84, 170);
    background-color: #fff;
}
input[id="total-price"]{
    width: 80px;
    height: 40px;
    color: rgb(224, 77, 77);
    font-size: 1.6em;
}
input[id="total-price"] + label {
    margin-right: 20px;
    color:  color: rgb(224, 77, 77);
}



