* {
    box-sizing: border-box;
}
body {
    background-color: rgb(207, 191, 191);
}
.headline {
    width: 100%;
    height: 30px;
    border-bottom: 2px solid rgb(206, 94, 94);
    margin-bottom: 40px;
}
.headline h2 {
    color: rgb(206, 94, 94);
}
form {
    max-width: 450px;
    margin: 0 auto;
  }
  
  form > div {
    position: relative;
    background: white;
    border-bottom: 1px solid #ccc;
   
  }
  
  form > div > label {
    opacity: 0.3;
    font-weight: bold;
    position: absolute;
    top: 22px;
    left: 20px;
    color: rgb(206, 94, 94);
  }
  form > div > input {
    width: 100%;
    border: 0;
    padding: 20px 20px 20px 50px;
    background: #eee;
  }
  
  form > div > input[type="text"]:focus {
    outline: 0;
    background: rgb(255, 255, 255);
  }
  form > div > input:focus + label {
    opacity: 0;
  }
  form > div > input[type="text"]:valid,
  form > div > input[type="tel"]:valid {
    background: url(../images/check.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px 20px;
  }
  
  form > div > input:valid + label
{
    opacity: 0;
  }
  form > div > input:invalid:not(:focus):not(:placeholder-shown) {
    background: #ffc3cd;
  }
  form > div > input:invalid:not(:focus):not(:placeholder-shown) + label {
    opacity: 0;
  }
  form input.match-box {
    margin-left: 223px;
    margin-top: 20px;
    cursor: pointer;
  }
 
  form input[type="submit"] {
    display: block;
    width: 100%;
    margin: 20px 0;
    background-color: rgb(206, 94, 94);
    color: #ffffff;
    border: 0;
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
  }