* {
    box-sizing: border-box;
}
.projects__holderCarousel {
   position: relative;
}
.projects__holderCarousel, .projects__left-arrow, .projects__right-arrow {
    height: 650px;
    text-align: center;
    cursor: pointer;
}
.projects__left-arrow, .projects__holderCarouselImage, .projects__right-arrow {
    float: left;
    height: auto;
}
.projects__arrow--item {
  margin-top: 300px;
  font-size: 1.8em;
}
.projects__holderCarouselImageContent{
    height: 320px !important;
    position: relative;
}
.projects__Description {
    cursor: zoom-in;
}
.projects__circles {
    margin: 10% 0 0 12%;
    outline: none;
}
.projects__circles--icon{
    border-radius: 50%;
    cursor: pointer; 
}
.active {
    color: black;
}
.projects__Description {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.projects--one {
    background-image: url(../images/calci.png);
}
.projects--four {
    background-image: url(../images/Djordjije-Logo.png);
}
.projects__carousel--anchor {
    position: absolute;
    bottom: -380px;
    text-decoration: none;
    color: rgb(165, 230, 165);
}
.projects__carousel--anchorFirstChild {
    left: 10px;
}
.projects__carousel--icon {
   margin-right: 5px;
    font-size: 1.2em;
}
@media(max-width: 1024px){
    .projects__carousel--anchor {
        bottom: -220px;
    }
}
@media(max-width: 400px) {
    .projects__carousel--anchorFirstChild {
        left: 0;
    }
}

