.stack-chart {
    width: 80%;
    height: 20px;
    margin: 20px auto;

}
.stack-chart .stack-chart-front {
    background-color: #FB5E5D;
    height: 100%;
    float: left;
}
.stack-chart-back {
    background-color: #4A6FEB;
    height: 100%;
    float: left;
}
.stack-chart span {
    color: white;
}
.stack-chart-front span {
    float: left;
}
.stack-chart-back span {
    float: right;
}
.front-end-chart {
    height: 300px;
    border-bottom: 1px solid rgb(167, 163, 163);
    position: relative;
}
@media(max-width: 1300px){
    .front-end-chart {
        width: 70% !important;
    }
}
@media(max-width: 900px){
    .front-end-chart {
        width: 80% !important;
    }
}
@media(max-width: 600px){
    .front-end-chart {
        width: 100% !important;
    }
}
@media(max-width: 500px){
    .front-end-chart {
        width: 120% !important;
        margin-left: -40px;
    }
}
.front-end-chart h3 {
    margin: 50px;
    color: #FB5E5D;
}
.front-end-chart ul {
    float: left;
    list-style: none;
    height: 250px;
}
.front-end-chart li {
    text-decoration: none;
}
.front-end-chart .expertise-level li{
    padding: 15px;
}
.front-end-chart .expertise-level li:first-child {
    margin-top: 10px;
}
.front-end-chart .skills-chart {
   display: flex;
   margin-top: 49px;
}

.front-end-chart .skills-chart li {
    flex: 1;
    margin: 10px;
    height: 100px;
    width: 10px;
    margin-top: 79px;
    position: relative;
}
.front-end-chart .skills-chart .orange {
    background-color: orange;
    height: 140px;
    margin-top: 39px;
}

.front-end-chart .skills-chart .blue {
    background-color: blue;
}
.front-end-chart .skills-chart .red {
    background-color: red;
}
.front-end-chart .skills-chart .green {
    background-color: green;
    height: 70px;
    margin-top: 109px;
}
.front-end-chart .skills-chart .yellow {
    background-color: yellow;
    height: 60px;
    margin-top: 118px;
} 
@media(max-width: 500px){
    .front-end-chart .skills-chart li{
       margin-right: 5px;
       margin-left: 5px;
    }
    .front-end-chart .skills-chart .orange {
        margin-left: 10px;
    }
   
}
.front-end-chart .skills-chart p {
    position: absolute;
    bottom: -40px;
    transform: rotate(45deg);
}
@media(max-width: 400px){
    .front-end-chart .skills-chart .red p{
        margin-left: 10px;
    }
}


.skills-chart .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 113%;
    left: 50%;
    margin-left: -80px;
}   
.skills-chart .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.skills-chart .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

