.skills__chart {
    width: 80%;
    height: 20px;
    margin: 20px auto;

}
.skills__chartFront {
    background-color: #FB5E5D;
    height: 100%;
    float: left;
}
.skills__chartBack {
    background-color: #4A6FEB;
    height: 100%;
    float: left;
}
.skills__chartSpan {
    color: white;
}
.skills__chartFrontSpan {
    float: left;
}
.skills__chartBackSpan {
    float: right;
}
.skills__frontEndChart {
    height: 300px;
    border-bottom: 1px solid rgb(167, 163, 163);
    position: relative;
}
@media(max-width: 1300px){
    .skills__frontEndChart {
        width: 70% !important;
    }
}
@media(max-width: 900px){
    .skills__frontEndChart {
        width: 80% !important;
    }
}
@media(max-width: 600px){
    .skills__frontEndChart {
        width: 100% !important;
    }
}
@media(max-width: 500px){
    .skills__frontEndChart {
        width: 120% !important;
        margin-left: -40px;
    }
}
.skills__frontEndHeading {
    margin: 50px;
    color: #FB5E5D;
}
.skills__expertiseLevel {
    float: left;
    list-style: none;
    height: 250px;
}
.skills__frontItem {
    text-decoration: none;
}
.skills__frontItem{
    padding: 15px;
}
.skills__frontItem--firstChild {
    margin-top: 10px;
}
.skills__charts {
   display: flex;
   margin-top: 49px;
}

.skills__chartsItem {
    flex: 1;
    margin: 10px;
    height: 100px;
    width: 10px;
    margin-top: 79px;
    position: relative;
}
.skills__orange {
    background-color: orange;
    height: 140px;
    margin-top: 39px;
}

.skills__blue {
    background-color: blue;
}
.skills__red {
    background-color: red;
}
.skills__green {
    background-color: green;
    height: 70px;
    margin-top: 109px;
}
.skills__yellow {
    background-color: yellow;
    height: 60px;
    margin-top: 118px;
} 
@media(max-width: 500px){
    .skills__chartsItem{
       margin-right: 5px;
       margin-left: 5px;
    }
    .skills__orange {
        margin-left: 10px;
    }
   
}
.skills__chartParagraph {
    position: absolute;
    bottom: -40px;
    transform: rotate(45deg);
}
@media(max-width: 400px){
    .skills__chartParagraphRed{
        margin-left: 10px;
    }
}


.skills__popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 113%;
    left: 50%;
    margin-left: -80px;
}   
.skills__popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.skills__charts .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

