* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    margin: auto;
}
.header--color {
    background-color: #B55894;
}
.header {
    border-bottom: 7px solid #D273B0;
    display: flex;
    height: auto;
    padding-bottom: 0;
    position: relative;
    justify-content: space-between;
    width: 100%;
}
.header__tabs {
    display: flex;
    width: 50%;
}
.header__tabsItem {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 22px;
    font-size: 1.4em;
    margin-top: 7px;
}
.header__tabsAnchor {
    text-decoration: none;
    color: rgb(238, 222, 222);
}
.header__tabsItem:hover {
    background-color: #D273B0;
    cursor: pointer;
}
.header__searchElItem {
    margin-right: 30px;
    list-style: none;
}
.header__searchElDiv {
    color: rgb(252, 247, 247); 
}
.header__searchElInput {
    border: none;
    border-bottom: 1px solid rgb(230, 223, 223);
    color: rgb(252, 247, 247);
    outline: none;
    padding: 2px;
    opacity: 0.9;
    font-size: 1.1em;
    font-weight: 600;
    float: none;
}
.header__searchElIcon {
    padding: 5px;
    color: rgb(252, 247, 247);
    border: 1px solid rgb(230, 223, 223); 
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 1.4em;
}
.header__logo {
    width: 8%;
    transition: 0.8s;
    z-index: 999;
}
.header__logoItem {
    margin-left: 20px;
    padding: 5px;
    width: 80px;
    list-style: none;
}
.header__logoImage {
    width: 170%;
    height: 65px;
}
.dropMenu {
    height: 100%;
    width: 0;
    overflow-x: hidden;
    transition: 0.7s;
    position: fixed;
    left: 0;
    z-index: 1;
    margin-left: -30px;  
}
.dropMenu--color {
    background-color: #B55894;
}
.dropMenu__dropdown {
    list-style: none;   
    color: white;
    overflow: hidden;
    z-index: 2;
}
.dropMenu__item {
    padding: 20px;
}
.dropMenu__item--firstChild {
    margin-top: 100px;
}
.dropMenu__anchor {
    text-decoration: none;
    color: rgb(39, 39, 36);
    font-size: 1.4em;
}
.header__hamburger {
   list-style: none;
   font-size: 1.9em;
   padding: 20px;
   cursor: pointer;
   color: rgb(238, 230, 230);
   flex: 1;
   margin-left: 40px;
   align-self: center;
}
@media(max-width: 600px){
    .header { 
        border-bottom: 0;
        padding-top: 0;
        height: 75px;
       position: static;
    }
    .header__tabs {
        display: none;
    }
    .header__searchEl {
        display: none;
    }
    .header__logo {
        width: 100px;
        margin-left: -140px;
    }
    .header__logoItem {
        width: 60px;
        height: auto;
    }
}


@media (min-width: 601px) and (max-width: 1024px){
    
    .header__tabsItem {
        font-size: 1.2em;
    }
    .header__logoItem {
        width: 65px;
        height: auto;
    }
    .header__searchElItem {
        margin-right: -85px;
    }
    .header__searchElInput {
        outline: none;
        padding: 2px;
        font-size: 1em;
        width: 45%;
    }
    .header__searchElIcon {
        padding: 3px;
        margin-left: 3px;
        cursor: pointer;
        font-size: 1.2em;
    }
}
@media (min-width: 601px) and (max-width: 660px){
    .header__searchEl {
        margin-right: -70px;
    }
    .header__searchElInput {
        width: 25%;
    }
}
@media (min-width: 1024px) and (max-width: 1124px){
    .header__tabs {
        margin-left: 50px;
    }
    .header__tabsItem {
        font-size: 1.3em;
    }
}
.dropMenu--copyright {
    margin-top: 50px;
}
@media(min-width: 601px){
    .dropMenu, .header__hamburger {
        display: none;
    }
    .header__logo {
        margin-left: 0;
    }
}