* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body {
    position: relative;
}
.theme-color {
    background-color: #B55894;
}

.col-1 {
    width: 8.333%; 
}
.col-2 {
    width: 16.6666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.3333%;
}
.col-5 {
    width: 41.6666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333333333%;
}
.col-8 {
    width: 66.666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.333%;
}
.col-11 {
    width: 91.6666%
}
.col-12 {
    width: 100%;
}
.main {
    width: 60%;
    margin: auto;
    text-align: center;
    position: relative;
}
@media(min-width: 1024px) and (max-width: 1494px){
    .main {
        width: 70%;
    }
}
@media(min-width: 751px) and (max-width: 1024px){
    .main {
        width: 80%;
    }
}
@media(max-width: 750px){
    .main {
        width: 100%;
    }
}

section {
    padding: 20px;
    margin: 50px;
}
.modal {
    width: 150%;
    height: 800px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 33;
    display: none;
}
.modal span {
    position: absolute;
    right: 260px;
    font-size: 3.6em;
    font-weight: 600;
}
.modal span:hover {
    font-size: 3.8em;
}
.modal p {
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 3em;
    color: #B55894;
}
@media(max-width: 1300px) {
    .modal span {
        position: absolute;
        right: 100px;
    }
}
@media(min-width: 750px){
    .modal {
        margin-left: -400px;
    }
    
}
@media(max-width: 750px){
    .modal span {
        position: absolute;
        left: 100px;
    }
    .modal p {
        position: absolute;
        left: 10%;
        font-size: 2em;
    }
}