*{
    box-sizing: border-box;
}

.projects-holder {
height: 800px;
margin-top: 50px; 
}
.tabs-for-projects {
    height: 100%;
    float: left;
}
.projects-holder ul {
    list-style: none;
    float: left;
}
.projects-holder ul li {
    padding: 25px;
    cursor: pointer;
    font-size: 1.4em;
    padding-right: 70px;
    margin-left: 40px;
    overflow-x: hidden;
    position: relative;
  }
  
.projects-holder-content {
    height: 100%;
    float: left;
    position: relative;
}
.holders {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.calculator-holder {
    display: block;
}

.hover-effect {
    height: 80%;
    width: 5px;
    position: absolute;
    right: 5px;
    top: 10%;
    background-color: #D961AD;
}
